{% extends "index.html" %}

{% block body %}
    <div class="container my-3">
        <h1>Please enter Mobile number and Message.</h1>
        <hr>
        <form action="SendData" method="POST">
            {% csrf_token %}
            <div class="form-group mt-4">
                <label for="Phone">Enter Mobile Number</label>
                <input type="Phone" required autofocus class="form-control" name="Phone" id="Phone" aria-describedby="Phone" placeholder="Please enter 10 digit WhatsApp number">
            </div>

            <div class="form-group">
                <label for="Message">Enter your Message:</label>
                <textarea name="Message" id="Message" rows="5" class="form-control" required placeholder="Enter your message here..."></textarea>
            </div>
            <input type="Submit" value="Send" class="btn btn-primary btn-lg">
            <a href="/" class="btn btn-secondary btn-lg ml-5">Clear</a>
            <h3>{{msg}}</h3>
        </form>
    </div>
{% endblock body %}